/* Page background */

body{
  background:#0d1117;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}

/* Main container */

.container{
  text-align:center;
  padding:30px;
}

/* Title */

h1{
  margin-bottom:30px;
}

/* Download button */

.downloadBtn{
  margin-top:25px;
  padding:10px 20px;
  background:#238636;
  border:none;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

.downloadBtn:hover{
  background:#2ea043;
}

/* Heatmap wrapper */

.heatmap-wrapper{
  margin-top:20px;
}

/* Months row */

.months{
  display:flex;
  justify-content:space-between;
  margin-left:40px;
  margin-bottom:8px;
  font-size:12px;
  color:white;
}

/* Heatmap layout */

.heatmap{
  display:flex;
}

/* Days column */

.days{
  display:flex;
  flex-direction:column;
  margin-right:6px;
  font-size:12px;
  color:white;
}

.days span{
  height:18px;
}

/* Grid */

.grid{
  display:grid;
  grid-template-columns: repeat(52, 14px);
  grid-auto-rows:14px;
  gap:3px;
}

/* Cells */

.cell{
  width:14px;
  height:14px;
  border-radius:2px;
  cursor:pointer;
}

/* Activity levels */

.level0{
  background:#161b22;
}

.level1{
  background:#0e4429;
}

.level2{
  background:#006d32;
}

.level3{
  background:#26a641;
}

.level4{
  background:#39d353;
}