body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: #f5f5f5;
}

.dark{
  background:#121212;
  color:white;
  min-height:100vh;
}

.top-buttons{
  margin-top:20px;
  display:flex;
  justify-content:center;
  gap:10px;
}

button{
  padding:8px 15px;
  border:none;
  background:#333;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

.months{
  display:flex;
  justify-content:center;
  gap:35px;
  font-size:12px;
  margin-top:20px;
}

.heatmap-wrapper{
  display:flex;
  justify-content:center;
  margin-top:20px;
}

.days{
  display:grid;
  grid-template-rows:repeat(7,25px);
  margin-right:10px;
  font-size:12px;
}

.days span{
  height:25px;
  display:flex;
  align-items:center;
}

.heatmap-container{
  width:90%;
  overflow-x:auto;
}

.heatmap{
  display:grid;
  grid-template-rows:repeat(7,25px);
  grid-auto-flow:column;
  gap:5px;
}

.cell{
  width:25px;
  height:25px;
  background:#ebedf0;
  border-radius:3px;
}

.cell:hover{
  transform:scale(1.2);
  cursor:pointer;
  border:1px solid #555;
}

.level1{background:#c6e48b;}
.level2{background:#7bc96f;}
.level3{background:#239a3b;}
.level4{background:#196127;}

.legend{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:6px;
  margin-top:20px;
  font-size:12px;
}